{
  "presets": [
    [
      // see http://babeljs.io/docs/plugins/#presets-official-presets
      "env",
      {
        "modules": false,
        "targets": {
          "browsers": [
            // you can customized your targeted browsers here.
            // see https://github.com/ai/browserslist
            "> 1%",
            "last 2 versions",
            "not ie <= 8"
          ]
        }
      }
    ],
    "stage-2"
  ],
  "plugins": [
    "transform-runtime"
  ],
  "comments": false
}
